.button-misc{
    border-radius: 2px;
    height:20%;
    background: none;
    background-color: green;
    margin: 0 auto;
    color:white;
    font-size: large;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.459);
    outline: none;
    border:none;
    // margin: auto;
    width: 20%;
    &:hover{
        color:black;
        background-color: white;
    }
}