.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &:first-child, &:nth-child(2){
        border:2px solid black;
        &:first-child, &:nth-child(2){
            border:2px solid white;
            height: 10vw;
            &:only-child{
                width: 70%;
            }
        }
    }

}